<div style="padding: 25px;">
    <a href="/">Back to landing page</a>
        
    <h3>Favorites:</h3>
    <ul>
    {{#each favorites}}
        <li>{{{this}}}</li>
    {{/each}}
    </ul>
    
</div>
